# Assignment 2.1

1. Collect the name, year of birth and salary of a user. Then output the following : 

-   "Goodday {name}!, your year of birth is {year of birth} and your age in the year 2030 will be {Age}. From your salary of {salary} the computed tax of 12.3% is {tax}.

In [33]:
name=input("Please Enter Your Name:")

In [45]:
k=input("Enter Your Birthyear:")
yob=int(k)
age=2021-yob

In [ ]:
slry=input("Enter Your Salary:")
salary=int(slry)

In [ ]:
print(f"Your name is {name}.\nYour age is {age} and your year of birth is {yob}.Your age in 2030 will be {2030-2021+age}.\n")
print(f"From yor salary of RM{salary}, the computed tax of 12.3% is RM{salary*0.123:.2f}")

Your name is Gavin.
Your age is 25 and your year of birth is 1996.Your age in 2030 will be 34.

From yor salary of RM3000, the computed tax of 12.3% is RM369.00

# Assignment 2.1

2. Collect a list of names and scores and find the average of the scores.

In [ ]:
name = ("Ali","Ben","Calli","Dan","Edwin")
scores =(70,75,80,88,90)

scoresTable = (name,scores)
scoresTable

(('Ali', 'Ben', 'Calli', 'Dan', 'Edwin'), (70, 75, 80, 88, 90))

In [ ]:
type(scoresTable[1])

tuple

In [ ]:
scoresAve = sum(scoresTable[1])/len(scores)
print(f"The average score in {scoresAve}")

The average score in 80.6

# Assignment 2.3

3.3. Use python to write an application letter for job to Perantis apply text wrap with line width of 50.

In [ ]:
import textwrap

sample_text = '''
Greetings

My name is Gavin and I wish to apply for the position of Computer Vision Engineer at Imagine AI.

I have graduated from Universiti Malaysia Pahang with a Bachelor's Degree in Mechatronics Engineerring.
I am current pursuing my Masters by research on a machine learning algorithm on collaborative robot vibration signals.

I would like to talk to you in more details regarding the position and I hope to hear from you soon.
'''
receiverAdd = input("Enter Receiver Address:")
senderAdd = input("Enter Sender Address:")
receiverSalutations = input("Enter Receiver salution")
receiverNickName = input("Enter Receiver Nickname")
dateSend = input("Enter date:")
positionApplied =input ("Enter Applied Position")
applicantName = input("Enter Applicant's Name")
applicantEmail = input("Enter Applicant's Email")
applicantPhNo = input ("Enter Applicant's Phone Number")

In [ ]:
print(receiverAdd,"\n")
print("___________________________________________\n")
print(senderAdd)
print("\nDear",receiverSalutations,receiverNickName,"\t\t\t",dateSend,"\n\n")

print("Job Application for", positionApplied, "position\n\n")
print(textwrap.fill(sample_text,width=50))
print("\nSincerely,\n")
print(applicantName,"\n")
print(applicantEmail)
print(applicantPhNo)

Imagine AI, Iskandar Puteri, Johor, Malaysia

___________________________________________

Seremban, NSDK, Malaysia

Dear Mr Edwin 			 18.11.2021


Job Application for Computer Vision Engineer position


 Greetings  My name is Gavin and I wish to apply
for the position of Computer Vision Engineer at
Imagine AI.  I have graduated from Universiti
Malaysia Pahang with a Bachelor's Degree in
Mechatronics Engineerring. I am current pursuing
my Masters by research on a machine learning
algorithm on collaborative robot vibration
signals.  I would like to talk to you in more
details regarding the position and I hope to hear
from you soon.

Sincerely,

Gavin Lim

jiannkai@gmail.com
0182739566

# Class Activities

In [35]:
str1 = "this is string example....wow!!!"
print (str1.capitalize())

This is string example....wow!!!

In [36]:
str1 = "this is string example....wow!!!"
print (str1.center(40, 'a'))

aaaathis is string example....wow!!!aaaa

In [37]:
str1 = "this is string example....wow!!!"
sub = "i"
print ("str1.count(sub, 4, 40) : ",
str1.count(sub, 4, 40))

str1.count(sub, 4, 40) :  2

In [38]:
sub = "wow";
print ("str1.count(sub) : ",str1.count(sub))

str1.count(sub) :  1

In [39]:
city = "Düsseldorf"
utf8_encoded = city.encode('utf-8')
print(type(utf8_encoded)) # bytes
print(utf8_encoded) # b'D\xc3\xbcsseldorf'
decoded_city = utf8_encoded.decode('utf-8')
print(type(decoded_city)) # str
print(decoded_city) # Düsseldor

<class 'bytes'>
b'D\xc3\xbcsseldorf'
<class 'str'>
Düsseldorf

In [40]:
city = "Düsseldorf"
utf8_encoded = city.encode('utf-8')
print(type(utf8_encoded)) # bytes
print(utf8_encoded) # b'D\xc3\xbcsseldorf'
decoded_city = utf8_encoded.decode('utf-8')
print(type(decoded_city)) # str
print(decoded_city) # Düsseldorf

<class 'bytes'>
b'D\xc3\xbcsseldorf'
<class 'str'>
Düsseldorf

In [41]:
str1 = "this is string example....wow!!!"
suffix = "wow!!!"
print (str1.endswith(suffix))
print (str1.endswith(suffix,20))
suffix = "is"
print (str1.endswith(suffix, 2, 4))
print (str1.endswith(suffix, 2, 6))

True
True
True
False

In [42]:
str1 = "this is\tstring example....wow!!!"
print ("Original string: " + str1)
print ("Defualt exapanded tab: " + 
str1.expandtabs())
print ("Double exapanded tab: " + 
str1.expandtabs(16))

Original string: this is	string example....wow!!!
Defualt exapanded tab: this is string example....wow!!!
Double exapanded tab: this is         string example....wow!!!

In [43]:
str1 = "this is string example....wow!!!"
str2 = "exam"
print (str1.find(str2))
print (str1.find(str2, 10))
print (str1.find(str2, 40))

15
15
-1

In [44]:
str1 = "this is string example....wow!!!"
str2 = "exam"
print (str1.index(str2))
print (str1.index(str2, 10))
print (str1.index(str2, 40))

15
15

ValueError: substring not found

In [ ]:
str1 = "this2009"; # No space in this string
print (str1.isalnum())
str1 = "this is string example....wow!!!"
print (str1.isalnum())

In [ ]:
str1 = "this2009"; # No space in this string
print (str1.isalpha())
str2 = "this is string example....wow!!!"
print (str2.isalpha())

In [ ]:
str1 = "123456" # Only digit in this string
print (str1.isdigit())
str2 = "this is string example....wow!!!"
print (str2.isdigit())

In [ ]:
str1 = "THIS is string example....wow!!!"
print (str1.islower())
str2 = "this is string example....wow!!!"
print (str2.islower())

In [ ]:
str1 = u"this2009" 
print (str1.isnumeric())
str2 = u"23443434"
print (str2.isnumeric())

In [ ]:
str1 = " "
print (str1.isspace())
str2 = "This is string example....wow!!!"
print (str2.isspace())

In [ ]:
str1 = "This Is String Example...Wow!!!"
print (str1.istitle())
str2 = "This is string example....wow!!!"
print (str2.istitle())

In [ ]:
str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.isupper())
str2 = "THIS is string example....wow!!!"
print (str2.isupper())

In [ ]:
s = "-"
seq = ("a", "b", "c"); # This is sequence of strings.
print (s.join( seq ))

In [ ]:
str1 = "this is string example....wow!!!"
print ("Length of the string: ",
len(str1))

In [ ]:
str1 = "this is string example....wow!!!"
print (str1.ljust(50, '0'))

In [ ]:
str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.lower())

In [ ]:
str1 = " this is string example....wow!!! "
print (str1.lstrip())
str2 = "88888888this is string example....wow!!!8888888"
print (str2.lstrip('8'))

In [ ]:
intab = "aeiou"
outtab = "12345"
trantab = str.maketrans(intab, outtab)
str1 = "this is string example....wow!!!"
print (str1.translate(trantab))

In [ ]:
str1 = "this is really a string example....wow!!!"
print ("Max character: " + max(str1))
str2 = "this is a string example....wow!!!"
print ("Max character: " + max(str2))

In [ ]:
str1 = "this-is-real-string-example....wow!!!"
print ("Min character: " + min(str1))
str2 = "this-is-a-string-example....wow!!!"
print ("Min character: " + min(str2))

In [ ]:
str1 = "this is string example....wow!!! this is really string"
print (str1.replace("is", "was"))
print (str1.replace("is", "was", 3))

In [ ]:
str1 = "this is really a string example....wow!!!"
str2 = "is"
print (str1.rfind(str2))
print (str1.rfind(str2, 0, 10))
print (str1.rfind(str2, 10, 0))
print (str1.find(str2))
print (str1.find(str2, 0, 10))
print (str1.find(str2, 10, 0))

In [ ]:
str1 = "this is string example....wow!!!"
str2 = "is"
print (str1.rindex(str2))
print (str1.index(str2))

In [ ]:
str1 = "this is string example....wow!!!"
print (str1.rjust(50, '0'))

In [ ]:
str1 = " this is string example....wow!!!    "
print (str.rstrip(str1))
str2 = "88888888this is string example....wow!!!8888888";
print (str2.rstrip('8'))

In [ ]:
str1 = "Line1-abcdef \nLine2-abc \nLine4-abcd"
print (str1.split( ))
print (str1.split(' ', 1 ))

In [ ]:
str1 = "Line1-a b c d e f\nLine2- a b c\n\nLine4- a b c d"
print (str1.splitlines( ))
print (str1.splitlines( 0 ))
print (str1.splitlines( 3 ))
print (str1.splitlines( 4 ))
print (str1.splitlines( 5 ))

In [ ]:
str1 = "this is string example....wow!!!"
print (str1.startswith( 'this' ))
print (str1.startswith( 'is', 2, 4 ))
print (str1.startswith( 'this', 2, 4 ))

In [ ]:
str1 = "0000000this is string example....wow!!!0000000"
print (str1.strip( '0' ))

In [ ]:
str1 = "this is string example....wow!!!"
print (str.swapcase(str1))
str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.swapcase())

In [ ]:
str1 = "this is string example....wow!!!"
print(str1.title())

In [ ]:
intab = "aeiou"
outtab = "12345"
str1 = "this is string example....wow!!!"
trantab = str.maketrans(intab, outtab)
print (str1.translate(trantab))

In [ ]:
str1 = "this is string example....wow!!!"
print ("str1.capitalize() : ",str1.upper())

In [ ]:
str1 = "this is string example....wow!!!"
print (str1.zfill(40))
print (str1.zfill(50))

In [ ]:
str1 = u"this2009" 
print (str1.isdecimal())
str2 = u"23443434"
print (str2.isdecimal())